:root {
    --darkgrey: #242424;
    --text-colour: #e1e1e1;
}

body {
    background-color: var(--darkgrey);
    color: var(--text-colour);

    font-family: "JetBrains Mono", monospace;
}

.content {
    max-width: 1200px;
    margin: auto;

    padding: 25px;
}

.back-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.back-button, button {
    height: 40px;
    background-color: transparent;
    color: var(--text-colour);
    border: var(--text-colour) 2px solid;

    min-width: 200px;
}

.back-button:hover, button:hover {
    background-color: var(--text-colour);
    color: var(--darkgrey);
}

select {
    background-color: var(--darkgrey);
    color: var(--text-colour);
    border: var(--text-colour) 2px solid;
}

#discordlink {
    width: 80%;
}

input, textarea {
    background-color: var(--darkgrey);
    border: var(--text-colour) 2px solid;
    color: var(--text-colour);
}

input:focus, textarea:focus, select:focus {
    outline: var(--text-colour) 1px solid;
}

a, a:visited {
    color: white;
    font-weight: bold;
}