<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FAQ | Tip Jar</title>

    <link rel="stylesheet" href="/assets/reset.css">

    <link rel="stylesheet" href="/assets/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&family=Raleway:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <!-- Primary Meta Tags -->
    <meta name="title" content="VTOL VR Tip Jar | FAQ">
    <meta name="description" content="Track how many times people have asked for the F-14, A-10, Quest 2 support, etc.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://jar.vtolvr.live/">
    <meta property="og:title" content="VTOL VR Tip Jar | FAQ">
    <meta property="og:description"
          content="Track how many times people have asked for the F-14, A-10, Quest 2 support, etc.">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://jar.vtolvr.live/">
    <meta property="twitter:title" content="VTOL VR Tip Jar | FAQ">
    <meta property="twitter:description"
          content="Track how many times people have asked for the F-14, A-10, Quest 2 support, etc.">
    <meta property="twitter:image" content="">

</head>
<body>

<div id="js_fill_in" class="content">
    <div class="faq-box">
        <a href="/">
            <button class="faq-button">Back</button>
        </a>
    </div>

    <div class="faq-text">
        This website is for recording the many, many times people have asked for things to be added to VTOL VR while either:
        <!--Bullet points-->
        <ul>
            <li>Asking something that's been asked so many times it's comical for people who frequent the Discord.</li>
            <li>Doing that, but having clearly also not read the FAQ</li>
        </ul>

        <p>
            It's just to have a laugh, turning the "add one into the [metaphorical] tip jar" frequently said on the Discord to "adding one to the [literal] tip jar".
        </p>
        <p>
            If something you've said is on here, really, don't worry about it. If you want to add something, feel free to submit with or without the text at <a href="/submit">/submit</a>. And if you really don't like being here, send me a PM on Discord (IHave#7106) and I'll remove it. Have a nice day!
        </p>
    </div>
</div>
<p style="color: white; text-align: center"><a id="github" href="https://github.com/AlexAndHisScripts/tipjar">GitHub</a>
</p>
<p style="color: white; text-align: center">Website by IHave</p>
<p style="color: white; text-align: center">Thanks to Strikeaglechase for the subdomain</p>
</body>
</html>